    * {
    margin: 0; 
    padding: 0;
    font-family: Roboto, arial;
    box-sizing: border-box;
    }
    body {
        background-color: #dbb;
    }

    #wrapper {
        max-width: 1000px;
        margin: 0 auto;
        background-color: white;
    }

    header img {
        width: 100%;
        display: block;
    }

    nav {
        background: darkcyan;
    }
    footer{
        background-color: darkcyan;
        padding: 15px 32% 15px 32%;
    }

    a.menu{
        display: inline-block;
        width: 25%;
        padding: 15px 30px 15px 30px;
        color: white;
        text-decoration: none;
        text-align: center;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
a.menu:hover {
        background-color: crimson;
        cursor: pointer;
    }
.active{
        background-color: crimson;
    }

article {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px
}

article h1{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson
}
img.left {
    float:left;
    padding: 10px 10px 10px 0;
    width:30%;
    border-radius: 50% 30%;
}
article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0 15px 0;

}
img.right{
    padding: 10px 10px 10px 10px;
    width:100%;
    border-radius: 40% 40%;
}
article h2{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson
}
article p {
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0 15px 0;
}
img.twarz {
    float:left;
    padding: 10px 10px 10px 0;
    width:30%;
    border-radius: 50% 30%;
}
img.twarz1 {
    float:left;
    padding: 10px 10px 10px 20px;
    width:35%;
    border-radius: 50% 30% 40%;
}
img.twarz2 {
    float:right;
    padding: 10px 10px 10px 20px;
    width:65%;
    border-radius: 50% 50% 40% 40%;
}
article h4{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;

}
article h3{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson
}
article p{
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    padding: 15px 0 15px 0;
    
}
img.4321{
    float:left;
    padding: 10px 10px 10px 0;
    width:30%;
    border-radius: 50% 30%;
}
article h5{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson

}
article h6{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson
}